*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
}

#dashboard_select{
    color: black;
    height: 30px;
    width: 150px;
    padding-left: 30px;
    border: 0.1px solid;
    border-radius: 10px;
}